* {
  box-sizing: border-box;
}

:root {
  --bg-color: #effdfa;
  --main-color: #9553df;

  --main-code-color: rgb(246, 117, 220);
  --main-code-header-color: rgb(26, 0, 54);
  --main-code-bg-color: rgb(46, 9, 86);


  --main-color-light: #e49ff0;
  --main-color-alert: #05a598;
  --main-color-accent: #2037b9;

  --text-color: #474747;
  --success-color: var(--main-code-color);
  --border-color: #ccc;
  --sidebar-width: 400px;
  --border-radius: 16px;
}


html,
body,
#root {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--bg-color);

  background-repeat: no-repeat;
  background-image: radial-gradient(at 80% 50%,
      hsla(340, 0%, 100%, 1) 0px,
      transparent 50%),
    radial-gradient(at 0% 100%, hsla(20, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(240, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 0%, 100%, 1) 0px, transparent 50%);

  min-height: 100vh;
  padding: 57px 0 0 0;
}


h1 {
  font-weight: 700;
  line-height: 1;

  margin: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(80deg,
      var(--main-color),
      var(--main-code-color));
}

.relative {
  position: relative;
}

.guide {
  left: calc(var(--sidebar-width) + 1rem);
  position: absolute;
  bottom: 0em;
  display: none;
  opacity: 0.5;
  height: 120px;

  p {
    margin: 0;
  }

  svg {
    max-width: 100px;
    height: 80px;

    animation-name: bounce-left-right;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
}

@media (min-width: 768px) {

  .guide {
    display: block;
  }
}


@keyframes bounce-left-right {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(-5px);
  }
}

.controls {
  display: flex;
  justify-content: end;
  padding: 1rem 0 1rem 0;
}

@media (min-width: 768px) {
  .controls {
    display: none;
  }
}

body:has(aside[aria-expanded="true"])::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
}

@media (min-width: 768px) {
  body:has(aside[aria-expanded="true"])::after {
    display: none;
  }
}


.controls button {
  border: 1px solid #ccc;
}
