code,
pre {
  font-family: Menlo, monospace;
}

code[class*="language-"],
pre[class*="language-"] {
  word-wrap: normal;
}

pre[class*="language-"] {
  margin: 0;
  overflow-x: auto;
  white-space: pre-line;
  hyphens: auto;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 1.5rem;
  position: relative;
}

.code-header {
  background-color: #111;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  margin-top: 1rem;
}

body.dark .code-header {
  background-color: rgba(0, 0, 0, 0.2);
}

.code-header-control {
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.code-header .button {
  padding: 0.15rem 0.5rem 0.15rem 0.5rem;
  background-color: transparent;
  color: white;
  border-radius: 1rem;
}

.code-header span.copy-label {
  display: inline-block;
  margin-left: 0.25rem;
}

.code-header span:not(.copy-label) {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.code-header span:not(.copy-label):first-child {
  background-color: #ff5f57;
}

.code-header span:not(.copy-label):nth-child(2) {
  background-color: #febc2e;
}

.code-header span:not(.copy-label):nth-child(3) {
  background-color: #28c840;
}

pre[class*="language-"] {
  background-color: #0e0618;
}

code {
  padding: 0.5rem;
  border-radius: 0.4rem;
  line-height: 2;
}

/* HTML */
pre .token.tag,
pre .token.attr-name,
pre .token.namespace,
pre .token.deleted {
  color: #feebc8;
}

pre .token.string,
pre .token.char,
pre .token.attr-value,
pre .token.regex,
pre .token.variable {
  color: var(--main-code-color);
}

code[class*="language-"],
pre[class*="language-"] {
  /* font-size: 1.15rem; */
  font-family: Menlo, monospace;
  line-height: 1.5;
  color: white;
  text-shadow: none;

  white-space: pre-wrap;
  overflow-x: auto;
  white-space: normal;
  hyphens: auto;

  word-break: break-word;
  overflow-wrap: break-word;
  tab-size: 4;
  letter-spacing: -0.02em;
}
