code,
pre {
  font-family: "SF Mono", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

code[class*="language-"],
pre[class*="language-"] {
  word-wrap: normal;
}

pre[class*="language-"] {
  margin: 0;
  overflow-x: auto;
  white-space: pre-line;
  hyphens: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 1.5rem;
  position: relative;
}

.code-header {
  background-color: var(--bg-color-dark);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  margin-top: 1rem;
}

body.dark .code-header {
  background-color: rgba(0, 0, 0, 0.2);
}

.code-header-control {
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code-header .button {
  padding: 0;
  background-color: transparent;
  color: white;
}

.code-header span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.code-header span:first-child {
  background-color: #ff5f57;
}

.code-header span:nth-child(2) {
  background-color: #febc2e;
}

.code-header span:nth-child(3) {
  background-color: #28c840;
}

pre[class*="language-"] {
  /* background-color: #03292e; */
  background-image: linear-gradient(
    225deg,
    #733356 1%,
    #271337 35%,
    #02070c 100%
  );
}

code {
  padding: 0.5rem;
  border-radius: 0.4rem;
  line-height: 2;
}

/* HTML */
.main pre .token.tag,
.main pre .token.attr-name,
.main pre .token.namespace,
.main pre .token.deleted {
  color: #feebc8;
}

.main pre .token.string,
.main pre .token.char,
.main pre .token.attr-value,
.main pre .token.regex,
.main pre .token.variable {
  color: var(--main-code-color);
}

.main code[class*="language-"],
.main pre[class*="language-"] {
  font-size: 1.15rem;
  font-family: "SF Mono", Roboto-Mono, Inconsolata, Monaco, Consolas,
    Courier New, Courier, monospace;
  line-height: 1.5;
  color: white;
  text-shadow: none;

  white-space: pre-wrap;
  overflow-x: auto;
  white-space: normal;
  hyphens: auto;

  word-break: break-word;
  overflow-wrap: break-word;
  tab-size: 4;
  letter-spacing: -0.02em;
}

/* pre > code > .token.tag:first-child:after {
  content: "\A";
  white-space: pre;
}

pre > code > .token.tag:last-child:before {
  content: "\A";
  white-space: pre;
}

.attr-name:before {
  content: "\A";
  white-space: pre;
} */
