label[for="darkmode"] {
  font-size: 0.85rem;
}

.footer-meta {
  gap: 1rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  /* align-items: center; */
  flex-direction: column;
}
