label {
  line-height: 2;
}

textarea,
input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  background-color: #f7f7f7;
  border-radius: var(--border-radius);
  border: none;
}


textarea {
  line-height: 1.5;
}

input:focus {
  outline: 2px solid var(--main-color-light);
  outline-offset: 4px;
  border: none;
}

input::focus-visible {
  outline: 2px solid var(--main-color-light);
  outline-offset: 4px;
  border: none;
}

body.dark input[type="text"] {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.2);
}

select {
  width: 100%;
  padding: 0.5rem 16px 0.5rem 0.5rem;

  border: 2px solid var(--main-color-light);
  height: 36px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--border-radius);
  background-color: white;
  background-size: 12px;
  background-position: calc(100% - 8px) 50%;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

summary {
  font-weight: 600;
  line-height: 2;
  cursor: pointer;
  user-select: none;
  margin: -0.5em -0.5em 0;
  padding: 0.5em 1rem;
  box-shadow: none;
  outline: none;
}

details {
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5em 0.5em 0;
  margin-bottom: 0.5rem;
  transition: border 300ms;
}

details:focus,
details:active {
  outline: none;
  outline: 2px solid var(--main-color-light);
}

details[open] {
  background-color: white;
  outline: 2px solid var(--main-color-light);
}

body.dark details[open] {
  background-color: var(--bg-color-dark);
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
}

.chevron {
  position: absolute;
  top: 10px;
  right: 10px;
}
