#root>header {
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 57px;
  top: 0;
  left: 0;
  background-color: white;
}

#root>header div {
  display: none;
}

@media (max-width: 768px) {
  #root>header div {
    display: flex;
  }
}


.button-primary {
  background-color: var(--main-color);
  color: white;
}
