#root>header {
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 768px) {
  #root>header {
    align-items: unset;
    flex-direction: column;

  }
}

#root>header div {
  display: none;
}

@media (max-width: 768px) {
  #root>header div {
    display: flex;
  }
}


.button-primary {
  background-color: var(--main-color);
  color: white;
}
