.logo {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12);
  background: #2d2d2d;
  border-radius: 8px;
  padding: 1rem;
  width: 90px;
  height: 90px;
  margin-bottom: 2rem;
  fill: var(--main-color-light);
}
