.aside {
  overflow: hidden;
  width: 100%;
  position: fixed;
  /* top: 0; */
  left: 0;
  display: none;
  background-color: white;
  overflow-y: auto;
  height: calc(100vh);
  border-right: 1px solid var(--border-color);
}

@media (min-width: 60em) {
  .aside {
    display: block;
    width: var(--sidebar-width);
  }
}

.aside-active {
  display: block;
}

body:not(.dark) .aside code {
  color: var(--main-color);
  background-color: var(--bg-color);
}

body.dark .aside {
  background-color: var(--bg-color-dark);
}

.aside header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

@media (min-width: 60em) {
  .aside header {
    display: none;
  }
}

.aside-inner {
  padding: 0 2rem 0 2rem;
}
.count {
  color: white;
  border-radius: 50%;
  background-color: var(--main-color);
  width: 24px;
  height: 24px;
  align-items: baseline;
  display: inline-block;
  line-height: 24px;
  text-align: center;
}
