.aside {
  overflow: hidden;
  width: 90%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: none;
  background-color: white;
  overflow-y: auto;
  height: calc(100vh);
  border-right: 1px solid var(--border-color);
  padding: 1rem 2rem 4rem 2rem;
}

@media (min-width: 768px) {
  .aside {
    display: block;
    display: unset;
    top: unset;
    width: var(--sidebar-width);

  }
}

[aria-expanded="true"] {
  display: block;
}

.aside code {
  color: var(--main-color);
  background-color: var(--bg-color);
}

.aside header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

@media (min-width: 768px) {
  .aside header {
    display: none;
  }
}


.count {
  color: white;
  border-radius: 50%;
  background-color: var(--main-color);
  width: 24px;
  height: 24px;
  align-items: baseline;
  display: inline-block;
  line-height: 24px;
  text-align: center;
}
